[2018-09-12 23:33] brucehoff opened #1 "allow customization of container in which workflow runs"
Currently workflows run in sagebionetworks/synapseworkflowhook-toil. @thomasyu888  pointed out that he may need to add dependencies not included (see Dockerfile.Toil for the currently included dependencies).  So we could allow the administrator to specify a customized container image rather than requiring them to use the hardcoded one.

[2018-09-12 23:36] brucehoff opened #2 "Notification System"
currently errors in the 'workflow hook' pipeline are sent to the admin' of the submission queue while errors in the executed workflow are sent to the submission creator.  But there may be a case in which the submitter knows little about the executed workflow and errors need to be sent to the administrator.  The task is to add a switch to make workflow error notifications go to the queue admin' rat

[2018-09-19 22:57] thomasyu888 opened #3 "Not binding submissionId"
| => docker-compose up
WARNING: The DATA_UNLOCK_SYNAPSE_PRINCIPAL_ID variable is not set. Defaulting to a blank string.
Starting synapseworkflowhook_workflow-hook_1 ... done
Attaching to synapseworkflowhook_workflow-hook_1
workflow-hook_1  | [INFO] Scanning for projects...
workflow-hook_1  | [INFO]
workflow-hook_1  | [INFO] ------------------< org.sagebionetworks:WorkflowHook >------------------
w

[2018-09-19 22:59] thomasyu888 opened #4 "Confusing submission instructions for evaluation queue"
Am I submitting a prediction file / docker image + sha digest, or am I submitting a .cwl parameter file.

Instructions in submitting to the queue say:

"Submission InstructionsYour workflow submission should be a .cwl parameters file."

[2018-09-19 23:00] thomasyu888 opened #5 "Had to generate my own docker cert"
https://docs.docker.com/engine/security/https/#other-modes

[2018-09-19 23:44] brucehoff commented on #3
The actual error in this log is:
[code]
This just means you have a 'stray' job container, called workflow_job.a8e5ce14-8b3b-460b-babe-39e849cea5a6.  One way to recover is to delete the job:
[code]
Should update the error message with this explanation.

[2018-09-19 23:48] brucehoff commented on #5
Need to give guidance as to how to connect to the Docker engine on a variety of platforms.  The immediate need is to connect on MacOS.

[2018-09-19 23:55] thomasyu888 opened #6 "Updating submission status breaks the hook"
When you provide a workflow that updates the submission status, it will come up with this error in the synapse workflow hook:

` WARNING: Encountered exception on attempt 7: Submission Status: 9681440 was updated since you last fetched it, retrieve it again and reapply the update`

A solution is to download the status prior to trying to update it again

[2018-09-24 18:15] thomasyu888 opened #7 "Running docker workflow"
Can the workflow hook look for parameters such as:

ENTRY_POINT
INPUT
OUTPUT
DOCKER_CONFIG

Or do these need to be hardcoded?

[2018-09-24 18:25] brucehoff commented on #7
@thomasyu888  Can you give more context as to what these parameters are for?  E.g., `ENTRY_POINT` sounds like a Docker parameter.  What container would this be applied to?

[2018-09-24 18:29] brucehoff commented on #6
This happens because both the 'workflow hook' and the workflow are annotating the same submission at the same time.  Solution is to add exponential backoff/retry of the process of downloading the status, applying changes, and pushing the changes back to Synapse.    This should be done both (1) in the 'hook, and (2) in the CWL script for annotating a submission (https://github.com/Sage-Bionetworks/

[2018-09-24 23:59] thomasyu888 commented on #7
After discussion, I realized I would hardcode a lot of these in the workflow.  The only issue is going to be passing in docker credentials.  I feel like we should also allow a docker config file along with the synapseConfig to be passed in.

[2018-09-27 23:15] thomasyu888 commented on #7
https://github.com/Sage-Bionetworks/ChallengeWorkflowTemplates/blob/master/get_docker_config.cwl

[2018-09-28 02:35] brucehoff commented on #6
Here's the change to add exponential backoff/retry to the workflow:
https://github.com/Sage-Bionetworks/SynapseWorkflowExample/commit/7e3242c3ac1d09d2cba150bb3c2ddcb697f7e638
and here's the change to add it to the WorkflowHook:
https://github.com/Sage-Bionetworks/SynapseWorkflowHook/commit/8a8c1c2563765dd293ccc83f658059838b0b99f5

[2018-09-28 03:31] thomasyu888 opened #8 "Says username / password incorrect, but its not"
[code]

[2018-09-28 03:31] thomasyu888 commented on #8
Unsure if this is talking about the docker `certs` or the synapse username and password

[2018-09-28 04:46] brucehoff commented on #8
It's the latter, the synapse credentials.

[2018-09-28 05:13] thomasyu888 commented on #8
Hmm... Thats very strange then, because I am passing in correct Synapse credentials.  Does the password need to be base64 encoded?

[2018-09-28 23:51] brucehoff commented on #8
Fixed now

[2018-09-28 23:51] #8 closed, assigned to brucehoff, thomasyu888

[2018-09-28 23:53] #6 closed, assigned to brucehoff

[2018-09-29 00:17] thomasyu888 commented on #5
Should add information that you get these files by installing docker-machine.  Unsure of how to create a docker env just for your Mac but you can create docker envs with docker-machine and it will create certs and the docker_engine_link

[2018-09-29 22:14] brucehoff commented on #4
https://github.com/Sage-Bionetworks/SynapseWorkflowHook/commit/d2a0636f3ef5ea8443713162194430ea069e85fd

[2018-09-29 22:14] #4 closed, assigned to brucehoff

[2018-09-29 22:23] brucehoff commented on #3
https://github.com/Sage-Bionetworks/SynapseWorkflowHook/commit/765d4efcdc8e73beae7fa9bec2533b27349848fe

[2018-09-29 22:23] #3 closed, assigned to brucehoff

[2018-09-29 22:30] brucehoff commented on #2
Thinking more about this, it's unclear what information would be sent to the queue admin' and what would be sent to the submitter.  It might be better to wait for a concrete use case before implementing something.   Perhaps @thomasyu888 could comment, after gaining some familiarity with the system, as to whether this is needed and how it should work.

[2018-09-29 22:51] brucehoff commented on #1
https://github.com/Sage-Bionetworks/SynapseWorkflowHook/commit/df840bd4142094a9a9792c7eb3032cb88d1d78b0

[2018-09-29 22:51] #1 closed, assigned to brucehoff

[2018-09-30 00:50] brucehoff commented on #5
Certs are not involved when connecting to the Docker daemon/engine via the non-networked `unix://` socket.  Updated the logic so as not to require certs in this case, and verified it works.  So now you need not generate certs!

https://github.com/Sage-Bionetworks/SynapseWorkflowHook/commit/f08a35c0d718d3071c7314ca0b20a346d4c576fd

[2018-09-30 00:50] #5 closed, assigned to brucehoff

[2018-10-01 21:10] thomasyu888 opened #9 "Docker daemon not found on docker run"
[code]

[2018-10-01 21:13] thomasyu888 opened #10 "Invalid submission runs through scoring harness workflow, but error"
[code]

Shouldn't the workflow hook continue to run even after an invalid submission?

[2018-10-01 21:18] thomasyu888 commented on #10
This what happens:
[code]

[2018-10-01 21:20] thomasyu888 commented on #10
In my other job where I run docker run even though the workflow fails, it does something like this...
[code]

[2018-10-01 21:21] thomasyu888 commented on #9
https://github.com/Sage-Bionetworks/ChallengeWorkflowTemplates - dockerAgent_workflow.cwl

[2018-10-01 21:22] thomasyu888 commented on #10
https://github.com/Sage-Bionetworks/ChallengeWorkflowTemplates - scoringHarness_workflow.cwl

[2018-10-02 00:01] brucehoff commented on #10
It's not a matter of the submission being invalid, it's that the workflow hook failed to remove the container afterwards.  The correction is to manually delete the container and restart the hook.  If this happens frequently then  we need to dig in to why the hook is failing to delete finished containers.

[2018-10-02 00:03] thomasyu888 commented on #10
This happens everytime with the workflow where I submit an invalid prediction file.

[2018-10-02 00:06] brucehoff commented on #9
Excellent, you are pushing the bounds of what can be done with this code.  I had not yet worked through running workflows which themselves run containers.  Just as we pass daemon access to the workflow hook (which is running in a container) we must provide daemon access to the Toil container.

[2018-10-02 00:12] thomasyu888 commented on #10
[code]

[2018-10-02 19:55] brucehoff commented on #9
https://github.com/Sage-Bionetworks/SynapseWorkflowHook/commit/47c04fee0d9a3b3c4dd4d7aab3b62fb017208de2

[2018-10-02 19:55] #9 closed, assigned to brucehoff, thomasyu888

[2018-10-02 21:21] thomasyu888 commented on #10
Should add documentation that submission status's STATUS field can not be changed!

[2018-10-02 21:56] brucehoff commented on #10
The problem is that the workflow modified the submission status (e.g., from EVALUATION_IN_PROGRESS to VALIDATED) which is must not do.  If you stop then this problem will go away.  In addition, I changed the workflow hook code to add a 'namespace' to annotation names it uses, to avoid collision with annotations created by your workflow: https://github.com/Sage-Bionetworks/SynapseWorkflowHook/commi

[2018-10-02 21:56] #10 closed, assigned to brucehoff, thomasyu888

[2018-10-02 22:13] brucehoff commented on #10
Good idea.  I added a "Workflow creation guidelines" section to the README.  Please have a look and comment or edit.

https://github.com/Sage-Bionetworks/SynapseWorkflowHook/commit/fe6d77e63bc720c08d118a4efc17359116585a52

[2018-10-02 23:37] thomasyu888 opened #11 "Configure/control the communication of results and errors to the submitter"
When SHARE_RESULTS_IMMEDIATELY is set to false, what is the best way to share results?

Should I have a workflow step that emails participants when:

1) Prediction file is an incorrect format
2) Their scores

[2018-10-02 23:55] thomasyu888 opened #12 "Error when running multiple prediction file submissions"
[code]

[2018-10-02 23:58] thomasyu888 commented on #12
I observe one submission that is "ACCEPTED" and the rest is stuck at "EVALUATION_IN_PROGRESS".  I observed this one time, so I cleared all my docker images and docker containers and tried again.

Still the same result.

Not sure what is going on

[2018-10-03 02:39] brucehoff commented on #11
Yes, you can send them an email or add an explanatory annotation that appears in the submission dashboard.

[2018-10-03 03:17] brucehoff commented on #12
I added a try/catch around removal of a container or image so that an error isn't propagated if the container/image is not found.  If you find that images are accumulating and not getting cleaned up, more investigation will be needed.

[2018-10-03 03:27] thomasyu888 commented on #12
Perfect. Thanks so much for your help. Can you explain what container is removed here? Does it have an impact on if the rest of the submissions are ran to completion.

[2018-10-03 03:37] brucehoff commented on #12
That's a good question.  The workflow hook starts a new container running the Toil workflow engine for each submission.  When the submission is done the hook removes the container and the image.

... and this may explain the problem: we shouldn't be deleting the image, just the container, since the  same image is used for all jobs.   I just updated the 'hook not to delete a submission's image, jus

[2018-10-03 03:37] #12 closed, assigned to brucehoff, thomasyu888

[2018-10-03 06:19] thomasyu888 commented on #12
Does this mean we need to have a "remove image and container" step in the workflow?

[2018-10-03 08:04] thomasyu888 commented on #11
Thanks for the clarification. In my case, I think I have to create workflow steps that emails participants about their submission being invalid or scored.

This is because I want all issues with the scoring or validation function to go to me. The good thing about this is that I will have the logs of all the submissions synapse already.

I do not want participants to have to sift through the logs t

[2018-10-03 14:42] brucehoff commented on #11
Yes, that's a good point.  In its current form the 'hook will send an email to the submitter if you raise an exception in your workflow and the email will tell them the workflow failed.

Would it help to have an option not to send any emails to the submitter?  Or to send the emails but to to the admin rather than the submitter?  Then you could have total control of the submitter's user experience

[2018-10-03 14:51] brucehoff commented on #12
It might be best to do this as the tail-end of the workflow step that runs the container since, in the long term, different steps might run on different machines and the clean up must run on the same machine that ran the container.  So you might incorporate the clean up into this .cwl:

https://github.com/Sage-Bionetworks/ChallengeWorkflowTemplates/blob/master/runDocker.cwl

[2018-10-03 17:58] thomasyu888 commented on #11
Thanks for editing the title.

I think it would be helpful to send emails to the admin rather to the submitter in the case that only prediction files are submitted, however we still want to send users their log files for their docker run.  So now we run into an issue when people submit docker containers:

1. Validate Docker -> Email step if their docker doesn't exist
2. Run Docker -> The workflowH

[2018-10-04 17:52] brucehoff commented on #11
Not sure what issue you are referring to.

Maybe it helps to step back and ask, 'why does the workflow hook send emails at all?'  The answer is,
- The workflow hook is the only part of the pipeline that can monitor for failure of the entire system (i.e., it can see if the pipeline itself, not just the worflow being run, crashes).
- The workflow hook runs *in parallel* to any workflow.  So it can c

[2018-10-04 18:08] thomasyu888 commented on #11
I agree with the shortcoming of .cwl.

I'm referring to the issue that:
1. I want to be able to notify participants if the workflow they sent fails
2. But enabling step 1, will also notify participants if the prediction scoring code fails and I do not want that.

Due to the fact that the workflowHook only look at a RECEIVED state, you recommended to write a workflow that contains the running of th

[2018-10-04 18:51] thomasyu888 opened #14 "No corresponding open Synapse submission error while running multiple submissions"
[code]

[2018-10-04 18:53] brucehoff commented on #11
Not at all.  If you take control of notification in your workflow you can choose to notify them if their docker container fails (create a run-docker-and-notify-upon-failure tool) but not to notify them if the scoring fails (create a run-scoring-and-notify-upon-success tool).

[and letting the 'hook perform notification].  My concern is that if you split up the workflow you have begun creating your

[2018-10-04 18:55] thomasyu888 commented on #14
Ahh.  This error happened because I had old docker containers that weren't cleaned up. Works great!

[2018-10-04 18:55] #14 closed, assigned to nobody

[2018-10-04 19:53] brucehoff commented on #11
@thomasyu888 explained the issue:  If a workflow is running a long running container as a sub-step, how should it do things like: monitor container state, upload logs, enforce time limit etc,  One could end up reimplementing a lot of the container management machinery of the workflow hook within a cwl tool.

We discussed several approaches but the most straight forward is to use two submission que

[2018-10-04 20:20] thomasyu888 opened #15 "Add pip install docker to Docker.toil"
https://github.com/Sage-Bionetworks/SynapseWorkflowHook/pull/13

[2018-10-04 20:53] brucehoff commented on #15
@thomasyu888   Can you send me a pull request with the required change?

[2018-10-04 20:53] thomasyu888 commented on #15
Already did. It's the comment

[2018-10-04 20:59] brucehoff commented on #15
OK, merged.

[2018-10-04 20:59] #15 closed, assigned to brucehoff, thomasyu888

[2018-10-05 00:28] thomasyu888 opened #16 "Do not allow for all registered users to submit to evaluation queue"
Currently the docker run command that sets up a project and evaluation queue also sets the ACL of the evaluation queue to be "Public".  It should only be seen by the user setting it up first.

[2018-10-08 18:39] thomasyu888 opened #17 "No TOIL_CLI_OPTIONS causes incorrect cwl-toil run command"
`
toil cmd: [toil-cwl-runner, , --workDir, /home/ubuntu/temp_dir2/b53d521a-0310-43cd-9c1f-fb88764b72b3, --noLinkImports, ChallengeWorkflowTemplates-master/scoringHarness_workflow.cwl, /home/ubuntu/temp_dir2/b53d521a-0310-43cd-9c1f-fb88764b72b3/TMP7978463776103023382.yaml]
`

[2018-10-08 18:48] brucehoff commented on #16
@thomasyu888 It's just meant to be a demo.  Do you think it's an important tool for people setting up projects and evaluation queues?

[2018-10-08 18:56] thomasyu888 commented on #16
Hmmm. I think I will add instructions on how to manually link up an evaluation id with a workflow as well.  I guess with the demo, its still unnecessary to share it with the general public.  People can share their evaluation queue as needed to the people that need them.

I guess I could be biased, because I see way too many challenge queues

[2018-10-08 18:57] thomasyu888 commented on #17
Notice the space in-between `toil-cwl-runner, , --workDir`

[2018-10-08 22:01] thomasyu888 opened #19 "Add in param to limit number of submissions run at a time"
Currently, it seems like if there are 10 submission RECEIVED, the hook will run 10 submission at once?

This will be awful for container based challenges.

[2018-10-08 22:43] thomasyu888 opened #20 "Adding restrictions for size of log file returned"
Should the hook have this feature?

[2018-10-08 22:45] thomasyu888 commented on #11
Linked from my challenge templates.  This issue can be closed.

[2018-10-08 22:45] #11 closed, assigned to thomasyu888

[2018-10-08 22:46] thomasyu888 commented on #2
I think there should be an option to only send errors to admins, but otherwise no code errors are are sent to participants.  I have already implemented a email system where participants get emailed their validation errors and their scores.

[2018-10-09 15:39] brucehoff commented on #20
I don't know if the requirements for limiting the log size are generic across all applications.  E.g., in the DM challenge we sought to limit the size of the total data returned (not just logs).  Depending on the requirements it might be better to provide a mechanism for an outside process to 'turn off' log uploads based on its own criteria, much as today you can determine that a time quota has be

[2018-10-09 15:41] brucehoff commented on #17
Looks like this causes a run time error:
[code]

[2018-10-09 16:43] brucehoff commented on #16
Ok, I made the requested change: https://github.com/Sage-Bionetworks/SynapseWorkflowHook/commit/18cfb3d452bcca98554e89419a912b695ab8d9dc

[2018-10-09 16:43] #16 closed, assigned to brucehoff

[2018-10-09 16:50] brucehoff commented on #2
@thomasyu888 currently there are four notifications sent.   You can see the message templates here:
https://github.com/Sage-Bionetworks/SynapseWorkflowHook/tree/master/src/main/resources
1) To the submitter/participant: Your workflow has begun, here's a link to the folder for results;
2) To the submitter/participant: Your workflow is done, here's a link to the folder for results;
3) To the submitt

[2018-10-09 18:06] brucehoff commented on #19
https://github.com/Sage-Bionetworks/SynapseWorkflowHook/commit/f76fc7fd14b93609906299bd38a7d1b223c05e95

[2018-10-09 18:06] #19 closed, assigned to brucehoff, thomasyu888

[2018-10-09 18:32] brucehoff commented on #17
I fixed the blank command line argument:
https://github.com/Sage-Bionetworks/SynapseWorkflowHook/commit/fdccc423d17705c61be376a9dcdaec2baae85ad2

However you will now probably find that workflows fail because you have not passed various toil options. (See the stack trace at bottom.) I have found, through trial and error, that these settings work:
[code]

Without any options, I get:

[code]

[2018-10-09 18:32] #17 closed, assigned to brucehoff, thomasyu888

[2018-10-09 18:35] thomasyu888 commented on #17
I feel like then these parameters shouldn't be optional then right? Or they are highly recommended because of errors?

[2018-10-09 18:48] brucehoff commented on #17
Maybe, but we are getting into how Toil works (or how it works on a specific platform, in this case Docker running on MacOS).  I don't think it's the job of the Workflow Hook to figure out what options are needed for the chosen platform.  I *do* include the options I have found to work in the README so you can use them.

[2018-10-10 07:07] thomasyu888 opened #21 "WORKFLOW_TEMPDIR is mounted incorrectly"
WORKFLOW_TEMPDIR supposed to be mounted as `/tempdir`, but I don't think it is.  It is being mounted as the same directory path inside the container as well.

This was the issue I was talking about the input files.  If someone wants to be able to access input files into their local file system, these files have to be mounted into the container running the hook so that the workflow has access to it

[2018-10-11 06:31] thomasyu888 commented on #21
Thanks for the explanations today.  I just didnt have a full understanding of the system.

[2018-10-11 06:31] #21 closed, assigned to nobody

[2018-10-11 06:33] thomasyu888 commented on #20
@brucehoff

Ahh I see, so I need to have two external processes:

a.  Looks at log file size
b.  Looks at submission run time

If either go over the limit, then terminate the submission

[2018-10-11 14:16] brucehoff commented on #20
@thomasyu888  An alternative to terminating the submission when the log size is exceeded is to continue running the submission but not to upload any more logs.

We need to make a small change in the 'hook to check for the log-size-exceeded signal.  (Currently we only check for the time-limit-exceeded signal.)

[2018-10-11 18:30] thomasyu888 opened #22 "Log files don't seem to contain print statements if job is successful"
So perhaps I just don't have a job that runs long enough, but it seems to me that the "print" lines from my CWL files are only shown when I there is an error with the certain tool.

This is an issue because if I did have a submission that ran for long periods of time, I wouldn't receive the logs from the submissions until it had errors.  Or do I have a misunderstanding of how the Log system works?

[2018-10-11 18:49] brucehoff commented on #22
@thomasyu888   you should be able to control the appearance of output by using Toil's logging level options.  See https://toil.readthedocs.io/en/3.14.0/running/cli.html#loggingref

[2018-10-11 18:56] thomasyu888 commented on #20
@brucehoff

Actually there are TOIL commands for max log size!  We could just use these instead of making submissions invalid?

Well I guess the issue would be if the logs are rotating, then users can look at older versions to piece things together...
[code]

[2018-10-11 20:18] thomasyu888 commented on #22
@brucehoff

Unfortunately, I would have to turn `--logDebug` on to show the python print statements.  I'm trying to search how to write my code such that its recognized by Toil not just as a DEBUGing print statement.  The reason I don't want to use `--logDebug` is because it contains a lot of extraneous information that wouldn't be relevant for users.

This ties in with the whole notifications iss

[2018-10-11 20:20] brucehoff commented on #22
@thomasyu888  Instead of 'print', can't you use a 'log' statement with a high priority/severity parameter?  (Java provides this and I assume Python does too.)

[2018-10-11 20:31] thomasyu888 commented on #22
@brucehoff

I am using the logging module: https://docs.python.org/2/library/logging.html#module-logging, but its still not propogating the logs back up to the toil runner.  I'm also setting the logs returned by Toil to be all ERRORS, WARNINGS, INFO aside from debug.

In my pthon script:  It doesn't seem to matter what type of logging type I return:

logger.info vs logger.error vs logger.warning.

[2018-10-12 01:14] thomasyu888 commented on #22
After this small discussion: https://github.com/DataBiosphere/toil/issues/2406 I think that the log files that are stored onto synapse right now by the hook are not participant readable.  That being said, I really like the ACLs put into place. Therefore I can easily write a script that can parse out the logs that the hook uploads and upload it to the same location.  I will also take that opportuni

[2018-10-16 22:56] thomasyu888 opened #23 "Wrong folder is passed from hook to workflow"

[2018-10-17 19:56] brucehoff commented on #23
https://github.com/Sage-Bionetworks/SynapseWorkflowHook/commit/df5a50808a43c1820336f709483868c46d870f60

[2018-10-17 19:56] #23 closed, assigned to brucehoff

[2018-10-17 19:56] brucehoff commented on #23
@thomasyu888 please update from DockerHub and try again.  You should find that uploaded files now go to the public and private folders for the specific *submission* not just for the specific *submitter*.

[2018-10-17 21:50] thomasyu888 commented on #23
Fantastic! This works!

[2018-10-17 23:07] thomasyu888 commented on #2
@brucehoff

For Docker based challenges:

- `SHARE_RESULTS_IMMEDIATELY` is set to false so LOG files are not uploaded to the submitter submission Id location.
- Then the emails could say something below for cases 1, 2 and 3 as stated above:
[code]
- Maybe we should give the option of either linking to the _LOCK folder or not?

For prediction file based challenges:
- `SHARE_RESULTS_IMMEDIATELY` is

[2018-10-17 23:34] thomasyu888 opened #24 "What is the retries setting with annotation updates?"
I set mine at 10 retries and wait time of 3 seconds.  My workflow was failing with the default setting.  I just want to make sure your hook doesn't also fail with the default setting.

[2018-10-18 22:52] brucehoff commented on #2
Yes, that's the way it works today.

For 1, and 2 that's pretty much what it already says.  (3) would have to be changed.

No, because the submitter will never have access to the _LOCK folder.

I like this.  Perhaps we can have an email flag and, when activated, the default notifications would be sent (for 1,2,3).  When turned off only 4 would be sent.  The workflow could then send customized noti

[2018-10-18 22:56] thomasyu888 commented on #2
The reason I say we should give the option of either linking to the _LOCK folder vs the unlocked folder is because when SHARE_RESULTS_IMMEDIATELY is set to false, I get an email with a link to the _LOCK folder.  Perhaps this is incorrect?

Yes I like the last point!

[2018-10-18 23:04] brucehoff commented on #24
8 attempts with 'exponential back off' in between, starting with 1/2 sec and doubling on each retry, for a total wait time of up to 63 1/2 seconds.
The formula is `a*(b^(n-1)-1)` where `a` is the initial backoff (in this case 1/2 sec), `b` is the backoff multiplier (in this case 2) and `n` is the number of tries (in this case 8).

[2018-10-18 23:04] #24 closed, assigned to brucehoff

[2018-10-18 23:06] brucehoff commented on #2
If the submitter is getting a link to the _LOCK folder (or any subfolder of the _LOCK folder controlled by the same ACL) then, yes, that's a bug, since they should never have access to that folder.

[2018-10-18 23:15] thomasyu888 commented on #2
So I can confirm that I got an email with a link to the _LOCK folder, BUT, the Team I submitted as only as "Can View" permissions.

[2018-10-18 23:38] thomasyu888 commented on #24
I like it.  Thanks for the explanation!

[2018-10-23 20:35] thomasyu888 opened #25 "Wrong folder shared with submitters"
Submitters will be getting a link to the `..._LOCK` folder (or any subfolder of the _LOCK folder controlled by the same ACL) even when `SHARE_RESULTS....` is false.

I can confirm that the submitter only has "Can View" permissions.  Can we switch the folder that is sent back to always be the not `..._LOCK` folder

[2018-10-24 17:41] brucehoff commented on #25
The change I made is to say nothing about the shared folder in the case that SHARE_RESULTS is set to false.  If a specific workflow is sending a certain output to the user it can send its own notification and/or display in the submission dashboard.

https://github.com/Sage-Bionetworks/SynapseWorkflowHook/commit/d80793f10ab99e59a8458841fd4c20fe1b5216f8

[2018-10-24 17:44] brucehoff commented on #2
The issue discussed in the last 3 comments was opened and resolved as another issue: https://github.com/Sage-Bionetworks/SynapseWorkflowHook/issues/25

I'm keeping *this* issue open to consider more broadly updating the available notification options.

[2018-10-24 23:29] thomasyu888 commented on #25
Can confirm that the folder isn't linked anymore.  However, the subject title is "Workflow Logs Available".  Perhaps this should be something different like "Submission Processing"

[2018-10-25 16:53] brucehoff commented on #25
https://github.com/Sage-Bionetworks/SynapseWorkflowHook/commit/538af5fcd20c6a52a57a1c62fd4bcdf390ef0b0b

[2018-10-25 16:53] #25 closed, assigned to brucehoff

[2018-11-23 09:00] thomasyu888 opened #27 "EVALUATION_IN_PROGRESS vs MAX_CONCURRENT_WORKFLOWS"
The Hook sets the statuses of more than 4 submissions even though the MAX_CONCURRENT_WORKFLOWS is set at 4.  Is this expected? It seems to be running more than 4 workflows at once even with this variable set.

[2018-11-26 20:41] brucehoff commented on #27
https://github.com/Sage-Bionetworks/SynapseWorkflowHook/commit/e72beeade9b9233d530b3e3edf6fa37c4738d08a

[2018-11-26 20:41] #27 closed, assigned to brucehoff

[2018-11-26 20:43] brucehoff commented on #27
@thomasyu888 , once this finishes building:
https://hub.docker.com/r/sagebionetworks/synapseworkflowhook/builds/
You can `docker pull sagebionetworks/synapseworkflowhook` and you will have the fix for this issue.

[2018-11-26 23:21] thomasyu888 opened #28 "Only uses default MAX_CONCURRENT_WORKFLOWS, ignores set value"
Defaults to 10 and doesnt seem to work if other values are specified

[2018-11-27 19:21] brucehoff commented on #28
https://github.com/Sage-Bionetworks/SynapseWorkflowHook/commit/f79497e43e002da286f9da276c4a422f1f21af04

[2018-11-27 19:21] #28 closed, assigned to brucehoff

[2018-11-27 20:57] thomasyu888 opened #29 "Submission Pipeline fails running through 104 submissions (10 submissions at a time)"
Workflow Administrator:

`Submission 9683420 failed.  The workflow description is: WorkflowJobImpl [submissionId=null, containerName=workflow_job.95aa5e0d-9a4f-4c96-85d2-182b8010ad5c, container=com.github.dockerjava.api.model.Container@7a073a31[command=toil-cwl-runner --defaultMemory 100M --retryCount 0 --defaultDisk 1000000 --workDir /home/ec2-user/workflow/91a331c2-3dcd-4743-9231-df8ff398abfb --

[2018-11-27 20:57] thomasyu888 commented on #29
The message is:

	java.lang.RuntimeException: org.sagebionetworks.client.exceptions.SynapseClientException: javax.net.ssl.SSLProtocolException: Received close_notify during handshake
	at org.sagebionetworks.MessageUtils.sendMessage(MessageUtils.java:176)
	at org.sagebionetworks.WorkflowHook.updateJob(WorkflowHook.java:515)
	at org.sagebionetworks.WorkflowHook.updateWorkflowJobs(WorkflowHook.java:3

[2018-11-27 21:01] thomasyu888 commented on #29
My machine is m4.xlarge, running 10 submission at a time.  No time quota set.  Not sure how to read this error above.

[2018-11-27 21:04] #7 closed, assigned to thomasyu888

[2018-11-27 21:19] brucehoff commented on #29
@thomasyu888   The error is some sort of transient connection error.  The fix is for me to include this case in the retry logic: https://github.com/Sage-Bionetworks/SynapseWorkflowHook/commit/61192a9054b65f7e9db971a66279159e6dd125f7

[2018-11-27 21:19] #29 closed, assigned to brucehoff, thomasyu888

[2018-12-05 23:43] thomasyu888 opened #30 "Rerunning submissions with TimeRemaining set to 0"
What happens when "org.sagebionetworks.SynapseWorkflowHook.TimeRemaining" is set to 0L, but I want to re-run the submissions.

[2018-12-06 00:54] thomasyu888 commented on #30
After discussion with Bruce, the restarting of submissions will require me to set the annotation to a positive integer

[2018-12-06 00:54] #30 closed, assigned to nobody

[2018-12-07 17:09] thomasyu888 opened #31 "Add dockerquota run time tool to readme"
https://github.com/Sage-Bionetworks/challengeutils/blob/dockerquota/challengeutils/utils.py#L259

[2018-12-07 23:38] thomasyu888 opened #32 "Cancellation of submission error"
When the submission is cancelled due to being over the quota vs clicking the cancel button, I think you currently do a docker stop.  however, this causes this error:

[code]

You will have to also remove the container for the hook to continue running.

[2018-12-11 18:49] brucehoff commented on #32
This should fix the issue:
https://github.com/Sage-Bionetworks/SynapseWorkflowHook/commit/f5f1d2bded6ca09ee6b08f9899e5ce9b07f578a6

[2018-12-11 18:49] #32 closed, assigned to brucehoff

[2018-12-19 00:14] thomasyu888 opened #33 "Hook stuck with no error message"
The Workflow hook times out with no error message and I have to `docker-compose down` and `docker-compose up` to make it work.

I am running 2 concurrent docker submissions at a time, and the timeout happens around ~ 55 submissions.

What could be causing this issue?

[2018-12-19 20:23] thomasyu888 commented on #33
[code]

It is stuck on this message

[2018-12-20 17:48] brucehoff commented on #33
@thomasyu888 You use the phrase 'time out' and then you say it's 'stuck'.  It's not clear if the hook is still running.  Can you post the output of 'docker ps -a' when the hook is in this state?  I'm curious (1) if the hook is still running and (2) how many submissions are running.  It might be simply that two submissions are running and the 'hook' is waiting for one to finish before starting a ne

[2018-12-20 19:00] thomasyu888 commented on #33
Sorry for the confusion.  I meant that the hook gets stuck at that line and it continues to run without updating submission statueses and running new submissions.

I will reproduce this issue, but basically only the hook is running while everything else has finished running. Only upon stopping and starting the hook does it update the submission status and start new jobs.

[2018-12-20 19:42] brucehoff commented on #33
@thomasyu888   Can you
{code}
docker logs --tail 200 synapseworkflowhook_workflow-hook_1
{code}
(or whatever the container name is for the hook) and attach the output to this issue?  Also, when the system is in the problematic state attach to output of:
{code}
docker ps -a
{code}
to show whether the hook container is still running or has stopped.

[2018-12-20 19:48] thomasyu888 commented on #33
I will once I reproduce the issue.  But I can tell you this, the only thing that is running would be the `synapseworkflowhook_workflow-hook_1...` and its logs are what I posted above, but repeated... it just gets stuck on the last line. (doesnt timeout, sorry, timeout gives it the impression that the hook stopped running)
[code]

The one thing i do notice though is that for whatever reason, the `w

[2018-12-22 00:17] thomasyu888 commented on #33
I think I may have resolved this issue by setting a memory limit on each `docker run` command i do for submissions.  I will double check.

[2018-12-22 00:43] thomasyu888 opened #34 "Workflow ReadTimeout error"
[code]

I researched a bit and found these:
https://github.com/docker/compose/issues/1045
https://github.com/docker/compose/issues/812

Unsure of definite solutions.

[2018-12-22 19:21] thomasyu888 opened #35 "Multiple copies of a submission.. Hook fails without sending email to admin"
[code]

[2018-12-22 19:22] thomasyu888 commented on #35
`docker ps` gives nothing, so all docker containers have exited.

[2018-12-23 09:08] thomasyu888 commented on #33
[code]

[2018-12-23 09:09] thomasyu888 commented on #33
[code]

[2019-01-02 20:30] brucehoff commented on #35
Weird state for the system to be in.  I'm hoping it's just transient.  I added retry logic:
https://github.com/Sage-Bionetworks/SynapseWorkflowHook/commit/eef8fdd5a9cf4a0d87fec90987c7af0769edfcc7

[2019-01-02 20:30] #35 closed, assigned to nobody

[2019-01-02 20:44] brucehoff commented on #34
Can you run with debuging on:
`docker-compose --verbose up`
'to see which API call is hanging' (as per https://github.com/docker/compose/issues/812) and/or to get other debug info that might help?

[2019-01-02 21:39] thomasyu888 commented on #34
I can try.  But unsure if I can reproduce.  I think I should always have `--verbose` on just so I can send errors.

[2019-01-04 20:14] thomasyu888 opened #36 "Get github repo error"
[code]

[2019-01-04 20:14] thomasyu888 commented on #36
All containers have exited

[2019-01-08 00:21] thomasyu888 commented on #36
After discussion with @brucehoff, he came to the conclusion that this is a `github` issue.  Should add exponential backoff to getting the github repo

[2019-01-08 00:29] brucehoff commented on #36
Just needed a little exponential back-off/retry.
https://github.com/Sage-Bionetworks/SynapseWorkflowHook/commit/90ff5906322ac3e00df7082be06b50983b948c68

[2019-01-08 00:29] #36 closed, assigned to brucehoff

[2019-01-08 01:16] thomasyu888 commented on #34
Similar to https://github.com/Sage-Bionetworks/SynapseWorkflowHook/issues/33.  I am going to change the ec2 instance type to something with more memory and CPUs, and enforce a memory limit on the participant submissions docker run command.

I will attempt to run through ~100 submissions without failure.

[2019-01-08 22:10] brucehoff commented on #34
If you determine that memory is the issue then I can address this by changing the memory that the 'hook' uses (in docker-compose.yaml) and that the Toil container uses.

[2019-01-09 20:22] thomasyu888 opened #37 "Submission Status update fail"
[code]

[2019-01-17 14:43] thomasyu888 commented on #34
@brucehoff

After a bit more testing, I think that issue #33  and this one is caused by submissions eating up the memory of the machine.  The solution is to pass in the `mem_limit` parameter to the `docker run` command in my CWL tool.

The one thing to investigate is if the `toil cli commands` passed into the hook in the `.env` file is propagated to the internal workings of TOIL calling docker in

[2019-01-17 14:44] thomasyu888 commented on #33
Please refer to #34

[2019-01-17 14:44] #33 closed, assigned to thomasyu888

[2019-01-23 21:17] andrewelamb opened #38 "File names with spaces"
I'm using the workflow hook to run the IDG-DREAM Drug-Kinase challenge.

There is a step where a previous file that was submitted gets downloaded to compare to the current submission. This issue happens when the previous submission's file has spaces and parenthesis. Such as round1b_k-sep-bigrams_v1 (1).csv

The issues seems to be when this file is passed to other steps in the workflow.

Tom propos

[2019-01-23 21:21] andrewelamb opened #39 "Reoccuring, but non-repeatable error"
I'm using the workflow hook to run the IDG-DREAM Drug-Kinase challenge.

This is an infrequent error, that is not repeatable. So far when it's happened I've had the user resubmit their submission and it's worked. This has happened once during the dry-run, and once during the actual round. It seems the tmpdir is trying to be created after being created before:
[code]

[2019-01-29 00:12] brucehoff commented on #37
Added more debug info to help sleuth this problem: https://github.com/Sage-Bionetworks/SynapseWorkflowHook/commit/9609ef30c65627d76f4c9f3fa0bf2c6069d18fac

[2019-02-06 17:26] brucehoff opened #40 "Show how to run workflows having private Docker images in the Amazon cloud"
This thread discusses a solution for Toil:
https://gitter.im/bd2k-genomics-toil/Lobby?at=5c59f014975714406b9da072
[code]

[2019-02-06 18:34] thomasyu888 commented on #40
I'm all fine with this but then wouldn't the docker container used by toil need to be private as well?  If someone could access this docker container, they could potentially access all docker containers that this user has access to.

[2019-02-06 18:50] brucehoff commented on #40
@thomasyu888 When you say, "the docker container used by toil" do you instead mean "the docker container containing toil" (i.e. the image created by the Dockerfile, above)?  If so, I'm honestly not sure what the Dockerfile above is doing.  Is it placing plain text credentials into the image?  If so, then I agree it's a security hole and may not be what we want to recommend.

[2019-02-06 19:00] thomasyu888 commented on #40
Thanks for the clarification. Yes that's what I mean.

I think they are storing credentials in the config.json which would live in the docker container.  I'm also confused because wouldn't the solution be to log into the docker registry that you want to interact with on your host machine?

[2019-02-06 19:07] brucehoff commented on #40
Are you asking whether it's the docker daemon on the host machine that has to `docker pull` from the registry and hence has to have the registry credentials?  If so, I believe the answer is 'yes'.

[2019-02-06 19:10] thomasyu888 commented on #40
Thanks again for the clarification. That is indeed what I mean.

[2019-02-07 17:05] andrewelamb opened #41 "Could the workflow hook give the cwl workflow additional parameters?"
Currently the workflow has to take these parameters:

submissionId: ID of the Synapse submission to process
adminUploadSynId: ID of a folder accessible only to the submission queue administrator
submitterUploadSynId: ID of a folder accessible to the submitter
workflowSynapseId:  ID of the Synapse entity containing a reference to the workflow file(s)
synapseConfig: ~/.synapseConfig file that has yo

[2019-02-12 03:13] thomasyu888 commented on #41
The workaround is that in the process of downloading the submission, we link the evaluation id as an output of the `download_submission.cwl` tool.

[2019-02-13 20:18] brucehoff commented on #41
As @thomasyu888 says, the submission object (metadata) includes the evaluation ID.  When you get the submission object (even if you don't download the associated submitted file) you get this info.  If that's *not* sufficient, please reopen this issue.

[2019-02-13 20:18] #41 closed, assigned to brucehoff, thomasyu888

[2019-02-26 20:49] philerooski opened #42 "Turn off participant email notifications"
My workflow already handles emailing the submitter when their submission has been validated and scored. This process rarely takes more than a few seconds, so I want to be able to disable the emails sent by the workflow hook to the submitter so that they aren't inundated with emails.

The "received" email is more useful in my use case than the "completed" email, so being able to enable/disable thes

[2019-02-26 20:55] thomasyu888 commented on #42
There is a docker compose env variable you can set to disable notifications.  Please carefully read through readme.

It's something like SHARE_RESULTS_IMMEDIATELY=false

[2019-02-26 20:58] philerooski commented on #42
Are you certain this disables email notifications? Even received? The README currently only mentions how this variable affects logs (which are sent with the "completed" email).

[2019-02-26 20:59] thomasyu888 commented on #42
I think so... Have you tried?

[2019-02-26 21:02] thomasyu888 commented on #42
Hmm.... Maybe I'm remembering incorrectly. I would confirm with Bruce.

Edit.  I think you're right and we would need this feature for what you want.  SHARE_RESULTS_IMMEDIATELY has to do with the logs being returned.  Although I will say that the email tool we have is actually a bit hacky. We should honestly be figuring out how to log certain steps of the workflow and returning those to the partic

[2019-02-27 20:48] philerooski opened #43 "[ERROR] Only the creator of a FileHandle can assign it to an Entity"
Context:

- We have two Synapse users: `phil` and `admin`.
- `phil` has submitted a Synapse entity `entity` to an evaluation queue `eval`.
- `admin` has been given Download permissions on `entity`.
- `admin` has been given Administrator permissions on `eval` (the key of `EVALUATION_TEMPLATES` in `.env`), `workflow` (the value of `EVALUATION_TEMPLATES`), and `workflow_output` (`WORKFLOW_OUTPUT_ROOT

[2019-02-28 23:19] brucehoff commented on #42
The workflow hook notifies the submitter of the following events:
- workflow has been started
- workflow has completed
- workflow has failed
- workflow is stopped by the user
- workflow timed out
The SHARE_RESULTS_IMMEDIATELY parameter is something different.  It controls whether workflow logs are shared with the submitter.  (If not, they are just provided to the queue administrator who can share

[2019-02-28 23:21] philerooski commented on #42
It would be great if they could be optional variables that I set in .env -- defaulting to true (do notify).

[2019-02-28 23:30] brucehoff commented on #42
How about a 'mask' of submitter notifications:
0x00001 =  1 = send message when workflow has started
0x00010 =  2 = send message when workflow has completed
0x00100 =  4 = send message when workflow has failed
0x01000 =  8 = send message when workflow has been stopped by user
0x10000 =  16 = send message when workflow has timed out

The default would be 0x11111 = 31, send messages for everything.

[2019-03-01 00:16] brucehoff commented on #42
https://github.com/Sage-Bionetworks/SynapseWorkflowHook/commit/e8e21a189bf4118b17edc5e8853764237a799941

[2019-03-01 00:22] brucehoff commented on #42
@philerooski  When the build finishes, as shown here: https://cloud.docker.com/u/sagebionetworks/repository/docker/sagebionetworks/synapseworkflowhook/builds
you can try out the new SUBMITTER_NOTIFICATION_MASK parameter documented here: https://github.com/Sage-Bionetworks/SynapseWorkflowHook/blob/master/README.md

[2019-03-04 22:34] brucehoff commented on #43
I see the error is:

[code]

That's by design, it's not a bug.  If you can say more about what is the aim of the workflow, we can advise how to use Synapse to accomplish it.

[2019-03-04 22:58] philerooski commented on #43
I understand where you're coming from. But the way I see it, I'm using the workflow hook properly (and I can demonstrate it, by a successful execution using one credential pair), but when I run the exact same workflow, exact same input, using different credentials -- but with the same permissions granted to those credentials as the first on all relevant files -- the workflow hook breaks.

My quest

[2019-03-05 00:08] brucehoff commented on #43
Note:  @philerooski and I discussed in person.  He mentioned that the same code worked in a past (non-workflow-based) application.  That's hard to reconcile with my knowledge of the permissions around file handles.  Phil offered to investigate further and share what he learns.

[2019-03-05 21:41] philerooski commented on #43
This workflow does execute successfully locally, actually. Here's the call I'm making:
[code]
This does not throw any errors, and I am using `admin`'s credentials.

But running the workflow using the hook with `admin`'s credentials I get the above error log.

Again, If I run the workflow as `phil`, then the hook executes successfully. But changing the credentials to `admin`, and keeping everything

[2019-03-05 22:06] philerooski commented on #43
If I upload the workflow zip file and create the log root directory using the same account which is invoking the workflow hook (i.e., has credentials set in .env), the workflow successfully waits for new jobs.

So the root of the issue is that I was creating the workflow and log directory on Synapse as `phil`, but running the hook as `admin`. This is despite the fact that `admin` was granted the s

[2019-03-05 22:31] philerooski commented on #43
I filed a Jira (PLFM-5423) and found that the file handle referenced in the raised exception in the log file above was the zipped workflow.

[2019-03-06 00:43] brucehoff commented on #43
Not sure why you would be making a new file entity from the file handle underlying the zipped workflow.  Are you thinking that this is something the workflow hook is doing?

[2019-03-06 00:51] philerooski commented on #43
It's not something I'm doing, but it does seem like the hook is doing something with the file handle. Maybe it has something to do with how externally linked files are accessed on Synapse? The file handle might be indirectly accessed, or created on demand.

I honestly have no idea how these things work in the back end.

[2019-03-06 17:47] brucehoff commented on #43
Indeed there is an error in the workflow hook.  It is in WorkflowHook.getWorkflowURLAndEntrypoint() which mistakenly calls Synapse.getRawFileHandle()

[2019-03-06 19:41] philerooski commented on #42
Am I using SUBMITTER_NOTIFICATION_MASK correctly? I pulled the latest `sagebionetworks/synapseworkflowhook` and `sagebionetworks/synapseworkflowhook-toil` and set SUBMITTER_NOTIFICATION_MASK=28 because I only wanted participants to receive emails when something went wrong or they cancelled their submission -- but I still received "workflow in progress" and "workflow has finished running" emails.

[2019-03-06 20:23] brucehoff commented on #43
Fixed!  https://github.com/Sage-Bionetworks/SynapseWorkflowHook/commit/4c14c3b8c49eff46c3caef812bac233fccb00487

Please try when this build is done:
https://cloud.docker.com/u/sagebionetworks/repository/registry-1.docker.io/sagebionetworks/synapseworkflowhook/builds/4517bd0d-83a0-4a18-bbc3-53f778ad11e1

[2019-03-06 20:23] #43 closed, assigned to brucehoff

[2019-03-06 21:09] brucehoff commented on #42
A line needs to be added to docker-compose.yaml as shown in this commit: https://github.com/Sage-Bionetworks/SynapseWorkflowHook/commit/5fae5997c4e488a4a6d033a97dd4862c9280e61b

[2019-03-06 22:10] philerooski commented on #42
I still seem to be getting emails after pulling commit `7c7a022` and respective images (also from `7c7a022`).

I've set `SUBMITTER_NOTIFICATION_MASK=28` in my .env file

[2019-03-08 05:59] brucehoff commented on #42
Sorry, there was a typo.  Please:
[code]
to get the fix.

[2019-03-08 05:59] #42 closed, assigned to nobody

[2019-03-11 18:06] andrewelamb opened #44 "Conflict with status annotation"
Evaluation queues use the "status" annotation to determine which submissions count toward the  submission limit. If the status is "INVALID", it doesn't count toward this limit. In the past this status referred to whether or not the submission got through the validation process or not. Using the workflow hook, it now means whether or not the workflow that the hook is using completed or not, whereas

[2019-03-11 22:19] thomasyu888 commented on #44
+1

[2019-03-22 18:53] brucehoff commented on #44
This is the option supported by the current hook.   Your workflow would finish doing whatever it needs to (e.g., sending notifications, setting annotations to be displayed in the leaderboard) and then, finally, raise an exception.  The workflow hook would register the exception, set the submission status to INVALID, and skip counting it towards the users' submission quota.  Does this meet your nee

[2019-06-14 23:59] trberg opened #45 "Permission Error when running docker-compose"
So we are running into an issue where the command "docker-compose --verbose up" runs into a permissions issue, even when running as sudo:

[code]
We find we can bypass this error by running the docker-compose in a privileged state. However, we then run into an other permission error further down the CWL pipeline when trying to pull in docker containers.

[code]

We are using Redhat (which doesn't

[2019-06-15 00:15] thomasyu888 commented on #45
Tagging @brucehoff and @tschaffter .

I also noticed that when I run the workflow hook, I find that the files created by CWL are owned by `root` even though I am running the workflowhook as `user`

[2019-06-15 13:21] brucehoff commented on #45
This is a confusing bug report:

If you can't use docker compose with RHEL then why are you trying to do so?

IF RHEL doesn't support docker compose then how could you have been 'up and running'?

I will assume you *can* use docker compose with RHEL or that you are using another OS.

Can you otherwise use Docker and Docker compose (not using the Synapse Workflow Hook)?  The Python error is in the

[2019-06-20 20:09] brucehoff commented on #45
@trberg Can Justin see this issue too?

[2019-06-20 20:29] brucehoff commented on #45
I promised to show how to run Toil directly, bypassing the Synapse workflow hook.  To do this:
1) I set up a workflow with Synapse as shown in the instructions page;
2) I submitted a job to the submission queue;
3) I ran 'docker ps':
[code]
`synapseworkflowhook_workflow-hook_1` is the hook, `workflow_job.a17ed7d8-eb5f-4bb5-8ba6-33ed3004efa8` is the job.
4) I ran
[code]
where run.tpl is here: https

[2019-06-20 20:59] trberg commented on #45
@jprosser are you able to see this thread?

I'll run through this toil tutorial and let you know what happens, thanks!

[2019-06-20 20:59] jprosser commented on #45
Yep, got it!

[2019-06-20 21:35] brucehoff commented on #45
One significant change in my manual construction of the `docker run` command was to set the working directory for Toil (the `-w` option).  Without it I get:
[code]
I'm pretty sure the lack of the `-w` option does not cause the problem we've been discussing because if it did the workflow would never start to run, i.e., it would not reach the 'runDocker' command in the original stack trace:
[code]

[2019-06-20 21:38] brucehoff commented on #45
@trberg You shouldn't have to redo everything I did, just steps 6,7,8.  That is, just make a working directory, clone the sample workflow from Github, customize the `docker run` command for your directory path, and run it.  Once you verify it works, please replace with a more complex workflow, esp. one which runs a Docker container itself.  Does it work?  Does the outcome change if you change:
[co

[2019-06-20 21:58] trberg commented on #45
So I'm running into permission issues in step 7. When trying to look at the log files.
[code]

The permissions in that directory are as such
[code]
I went ahead and just mapped --volume="/var/run/docker.sock:/var/run/docker.sock:rw" due to the headache the /var/run:/var/run mapping caused previously.

[2019-06-20 22:10] brucehoff commented on #45
@trberg Mounting `/var/run` is irrelevant for the very simple workflow since it doesn't try to start a container itself.  Here is a stripped down version of the `docker run` command that works for me.  Does it work in your environment?  (You should only have to change the first `export` command.)
[code]

[2019-06-20 22:13] brucehoff commented on #45
This also works for me.  Does it for you?
[code]

[2019-06-20 22:14] trberg commented on #45
So that first one doesn't work for me
[code]

[2019-06-20 22:15] trberg commented on #45
Same issue with that second one

[2019-06-20 22:29] trberg commented on #45
Even when I open all the permissions like
[code]

I get the same permission errors. @jprosser any thoughts on this?

[2019-06-20 22:39] jprosser commented on #45
I would expect a perm denied on the home dir, those are selinux protected to be just the user basically.  If you move over to /data/common the permissions should work out.

[2019-06-20 22:54] brucehoff commented on #45
I feel like we can make progress by understanding what's required for the simple case of reading a mounted file, e.g.:
[code]
If we can clarify what is needed to make this work we can move on to bigger things.

[2019-06-20 22:54] trberg commented on #45
What seems to be happening is that toil is creating folders in the Docker container that later are inaccessible. When I change the working directory in the container to something like "/testing" we get the following.
[code]

[2019-06-20 22:58] trberg commented on #45
This seems to do fine
[code]

[2019-06-20 23:05] brucehoff commented on #45
OK, what if `/data/common/dream/` is replaced with `/data/users/trberg/`?

OK, what if `/data/users/trberg/`  is replaced with `/data/common/dream/`?

[2019-06-20 23:12] jprosser commented on #45
I would expect any scenario involving the user's home dir, from that of a container, to fail.  User home dirs are strongly protected with SELinux policies and the container is basically a different user coming in.

[2019-06-21 00:38] trberg commented on #45
[code]

[2019-06-21 00:42] trberg commented on #45
When replacing with '/data/common/dream/':
[code]
The issue seems to be in the container

[2019-06-21 02:34] brucehoff commented on #45
The last example confuses me because I see:
[code]
when I expected
[code]
Did you not run the following?
[code]

[2019-06-21 21:52] jprosser commented on #45
I just did a quick check in the run history and saw:

` -w "/testing"`

rather than `-w "${SHARED}"` so that would explain that confusion.

[2019-06-26 18:14] andrewelamb opened #46 "Issue with mutliple queues"
When I set up my .env file like:

DOCKER_ENGINE_URL=unix:///var/run/docker.sock
WORKFLOW_TEMPDIR=/home/ubuntu/temp_dir
SYNAPSE_USERNAME=andrew.lamb@sagebase.org
SYNAPSE_PASSWORD=xxxxx
WORKFLOW_OUTPUT_ROOT_ENTITY_ID=syn17019523
EVALUATION_TEMPLATES={"9614257":"syn20055743", "9614252":"syn20055743"}
TOIL_CLI_OPTIONS=--defaultMemory 100M --retryCount 0 --defaultDisk 1000000
MAX_CONCURRENT_WORKFLOWS=1

[2019-06-28 20:19] thomasyu888 commented on #46
Can confirm, I am also running into this same exact issue.

[2019-07-03 17:53] brucehoff commented on #45
I changed the code to use a `volume` to share files between containers rather than a bind-mounted host directory: https://github.com/Sage-Bionetworks/SynapseWorkflowHook/commit/6ee130b3e094e3611d197900e6c38a0b6994f4e5

[2019-07-03 18:30] thomasyu888 commented on #45
@brucehoff.  What is the best practice for mounting data that a participants model would need? Should my rundocker.py make use of `docker volumes`?

[2019-07-03 18:32] thomasyu888 commented on #46
@brucehoff. Please look into this as it is a critical issue. The current workaround is to have multiple instances running - one for each workflow.

[2019-07-03 21:35] trberg commented on #45
@brucehoff I've pulled in the new pipeline. It's throwing a new error and I can't tell if its a configuration error something else
[code]

I tried cleaning up the submissions by removing all received and in-progress submissions but I'm still getting this error.

[2019-07-03 21:49] thomasyu888 commented on #44
The issue with this approach is that theres no granular enough of logging from CWL and TOIL.  For instance, what we really care about is for participants to obtain logs from ONLY the `validation` and `scoring` step.   Unfortunately, I don't think CWL offers this right now.  We would have to write a tool to parse through the logs which is more complex than the solution below.

Our current workaroun

[2019-07-03 22:07] thomasyu888 opened #47 "Create stable versions of the hook."
The workflow hook is being used for active challenges.  We should pull down specific tags if continuous development is going to occur to make sure that bugs aren't introduced to active challenges

We should release a version after #45  and #46, and specify the stable tag in `docker-compose.yaml`

[code]

[2019-07-04 15:23] brucehoff commented on #46
https://github.com/Sage-Bionetworks/SynapseWorkflowHook/commit/a3c4a194dde908e26e71d20b95dc52328cc3ded2

[2019-07-04 15:45] brucehoff commented on #45
@trberg The error says there is a container named 'workflow_job', unexpected/unrecognized by the software.  What do you see when you type `docker ps -a`?  Is there a stray container to remove?

[2019-07-04 15:49] thomasyu888 commented on #45
@brucehoff
[code]

[2019-07-04 16:28] thomasyu888 commented on #45
@brucehoff  Thanks, that fixed something, but:

[code]

It is running through the workflows now, but its having a hard time linking them back to the submission.

[2019-07-04 16:35] brucehoff commented on #45
That was a mistake on my part.  I just pushed an update but it may take a while to build on DockerHub. https://github.com/Sage-Bionetworks/SynapseWorkflowHook/commit/632c75e8d04e0f47a936af392c29d80467c84d28

[2019-07-04 16:43] brucehoff commented on #45
That is an excellent question.  I would summarize the advice from https://docs.docker.com/storage/ as "volumes are good for sharing files between containers while bind mounts are good for sharing data between the host and a container" but please read the page for yourself and see if you agree.  My change was to use a volume to share data between the 'hook and the Toil containers it launches, but f

[2019-07-04 18:08] trberg commented on #45
Sounds good, I'll give 1. A try and we'll see where that gets us.

On Thu, Jul 4, 2019, 9:44 AM Bruce Hoff <notifications@github.com> wrote:

[2019-07-05 00:35] brucehoff commented on #37
No activity in 1/2 year.  Please reopen if more is needed.

[2019-07-05 00:35] #37 closed, assigned to brucehoff

[2019-07-05 01:12] brucehoff commented on #44
If the participant should not see the entire Toil log then it seems to me that you should create your own, custom "log" (detailed output of validation and of scoring) to return to the participant.

It seems to me that the best approach is not to add your output to Toil's log and the parse out again but rather to keep that content separate (e.g. write it to a file) and then send it in a notificatio

[2019-07-05 01:14] brucehoff commented on #47
That's a good idea.  It's also an opportunity to change the name of the github repo and docker container to 'Synapse Workflow Orchestrator' as suggested by @jaeddy .

[2019-07-08 16:25] trberg commented on #46
@brucehoff should this issue be solved now? I pulled in the new code and I'm still having the same issues.

[2019-07-08 16:40] brucehoff commented on #46
Yes, the issue should be solved.  Will you please share the detailed symptoms of the problem you are having?

[2019-07-08 16:52] trberg commented on #46
Here is the error report. If you need, I can post the full verbose output:
[code]

[2019-07-08 16:56] thomasyu888 commented on #46
@trberg.  Couple things.

1.  Did you do a git pull on the new repository? -> You will need to do this to start from the new `docker-compose.yaml`
2.  Can you remove all running containers and images and re-pull them down.

[2019-07-08 16:56] brucehoff commented on #46
Would you please try the following:
[code]
and then let us know if problems continue.

[2019-07-08 17:02] trberg commented on #46
Great! Thanks, that seems to have cleaned up this issue. It looked like we had some extra submitted dockers that were left from previous pipeline runs that were causing issues.

[2019-07-08 17:15] #46 closed, assigned to brucehoff

[2019-07-09 00:01] trberg commented on #45
@brucehoff So we are running into another issue.
Something looks to be trying to call localhost:None
I can post the whole verbose log if need be.
[code]

[2019-07-09 00:07] brucehoff commented on #45
Yes, please.  I think the relevant information appears at an earlier point in the log than in that part you included above.

[2019-07-09 00:09] trberg commented on #45
[code]

[2019-07-09 00:26] brucehoff commented on #45
@trberg The error reporting is poor (and I will correct that) but the problem is with your configuration.  Will you please tell me what's on the line in your `.env` file starting with:
[code]
?

[2019-07-09 16:36] trberg commented on #45
[code]

[2019-07-09 17:32] brucehoff commented on #45
Go to https://www.synapse.org/#!Synapse:syn18838336
Select File Tools > Annotations (at right)
Click the Edit button (at left)
Under "Key" enter "ROOT_TEMPLATE"
Under "Value" enter the relative path (within in the linked .zip file) to the root .cwl file for your workflow.
(Looks like it should be "EHR-challenge-master/docker_agent_workflow.cwl")
Save your changes and try again.

Please let us know

[2019-07-09 18:23] trberg commented on #45
I added the Key/Value from above.
The pipeline is no longer breaking and is entering the Top level loop, but when I submit a docker, it gets pulled in and then fails. My email gives this error:
[code]

The reported admin logs from the pipeline include the following.
[code]

[2019-07-09 19:32] brucehoff commented on #45
Trying to reproduce the problem:

1) I set up a submission queue with UW's workflow:

[code]

2) I updated my `.env` file

[code]

3) `docker-compose up`

4) Submit something to the queue.  (I used a random text file and I expect the workflow to fail on it.)

Result:

Here's the Toil command from the Docker Compose logs:
[code]

I received this error by email:
[code]

I looked at the logs and my p

[2019-07-09 19:38] brucehoff commented on #45
@trberg Can you see the downloaded workflow files still sitting on the shared volume, like this?
[code]

[2019-07-09 19:46] trberg commented on #45
So EHR-challenge-master doesnt seem to be uploading at all

[code]

I tried listing the contents of a couple of the folders and they seem to be empty

[2019-07-09 19:53] trberg commented on #45
However, the volume workflow_shared seems to have it:
[code]

[2019-07-09 20:35] trberg commented on #45
I just did a clean restart, I pruned the containers, images, and volumes.
Now the pipeline is looking for synapseworkflowhook_shared but it doesn't seem to be creating it
[code]
Upon further inspection, there is no volume synapseworkflowhook_shared
[code]
Before I ran docker-compose up all volumes had been pruned.

[2019-07-09 21:21] brucehoff commented on #45
Ahh, Docker Compose is behaving differently for you than for me.  Note that `docker-compose.yaml` creates a volume called `shared`.  In my environment it appears as `synapseworkflowhook_shared` while for you it's `workflow_shared`.

[2019-07-09 21:26] brucehoff commented on #45
... and here's the explanation:
https://forums.docker.com/t/docker-compose-prepends-directory-name-to-named-volumes/32835

[2019-07-09 21:28] brucehoff commented on #45
@trberg as a workaround, please try:
[code]

[2019-07-09 21:38] trberg commented on #45
Before I saw this, I just renamed the workflow directory name to synapseworkflowhook and that seems to have worked to get us to the next step.

Now we are back to where we started with permission errors
[code]

What seems to be happening is that the workflow is creating directories in the container that it later cannot access.
It may have something to do with us running the workflow in a privilege

[2019-07-09 21:46] brucehoff commented on #45
@trberg Your idea sounds right, but something doesn't quite make sense:  When you tried this experiment: https://github.com/Sage-Bionetworks/SynapseWorkflowHook/issues/45#issuecomment-509783750 , weren't you mounting the volume to a *non*-privileged ubuntu container (which *was* able to access the files)?  Was the volume in that experiment (`workflow_shared `) created by running Docker Compose in

[2019-07-09 21:52] trberg commented on #45
The workflow_shared volume was created in a privileged state and yet the non-privileged ubuntu container was able to access it, that is correct.

I'm not sure what to do with that....

[2019-07-09 21:55] jprosser commented on #45
There's a bit of confusion here on the words too, when you say "workflow is creating directories in the container" - does that mean creating files in the mounted volume, from within a running container?

If you're creating files via the user running compose (trberg), that is going to run into problems.

[2019-07-09 22:06] brucehoff commented on #45
Is there _any_ way, in your environment, to do the following:
- run a container that can access the Docker Engine (e.g., the Docker socket);
- create a file in that container that can be accessed from within another container

?
Or is that simply not possible?

If it's not possible then we can stop trying to get it to work and start pursuing other alternatives.

[2019-07-09 22:15] jprosser commented on #45
Volumes should make that possible, I would expect running containers to be able to share volumes.

[2019-07-09 22:31] brucehoff commented on #45
Putting aside the challenge and the workflow hook, can you create a working demo with two generic containers and a volume through which they share data?  Again, one container must be able to access the Docker Engine.

[2019-07-09 23:36] jprosser commented on #45
Ok, I'm not sure the best way to show this but I just ran through a simple test using a volume between a number of containers which worked just fine.  Maybe I'll just toss in my terminal output here.  Let me know if I should expand on this.

[term.txt](https://github.com/Sage-Bionetworks/SynapseWorkflowHook/files/3375136/term.txt)

[2019-07-10 01:38] brucehoff commented on #45
@jprosser  I read through `term.txt` but did not see your demonstration that the container was able to access the Docker engine.  Could you please explain how you demonstrated this?

[2019-07-10 03:58] jprosser commented on #45
Here's a run with a privileged container testing and then also with a user set to "bob" to show that scenario.  So user root is id=0 which is the same everywhere but if you toss in a user, that will have an id of something else.  If you want to share files, this id needs to match if not user root (id=0) and the permissions also need to allow as well.  Hope this helps!
[priv.txt](https://github.com

[2019-07-10 17:37] brucehoff commented on #45
@jprosser Thanks for doing this suite of tests.  Do the results suggest what you can change when running the workflow hook to allow file sharing between containers to work?  If not, how shall we proceed to investigate the issue?

[2019-07-10 18:28] jprosser commented on #45
Yes, so first of all, using root as the user within the container will make things simpler when using one volume with multiple containers.  The downside to this is the user/dev (this is a term I'm giving to the user login of the developer here) who runs docker is not root (in our environment) and doesn't have access to that volume(s) directly but can build images and run containers that do have ac

[2019-07-10 18:33] jprosser commented on #45
Also, I haven't actually looked at this project yet and have just been helping Tim out.  I hope to check it out and perhaps offer some suggestion or PRs if time allows and you have interest.

[2019-07-10 18:34] trberg commented on #45
@jprosser could we try and figure out a way to run the docker-compose in a non-privileged state? I believe that would involve expanding the permissions on docker.sock but I'm not sure.

[2019-07-10 18:46] jprosser commented on #45
If there's a need for a container to orchestrate, then I believe that privileged would be required, basically running docker in docker.

If we're just hung-up on getting data from the dev/user file system space into the container world, that could be solved with a Dockerfile that creates a data container which carries the data directly copied in during docker build.  Or perhaps better is using tha

[2019-07-10 19:20] brucehoff commented on #45
Commonly the phrase "running docker in docker" means running the docker Engine in a docker container, a practice that's advised against.  Here we are merely running the Docker client in a container (the Docker Engine runs on the host), which is generally acceptable.

The error we are addressing is not related to moving data files into a container volume but rather sharing files between containers

[2019-07-10 19:27] trberg commented on #45
I went and checked on this. When we spin up the workflow container, here is the "top" results.
[code]
It seems we are running in the container as root at least here

[2019-07-10 19:36] jprosser commented on #45
That pid is running right now and is running on the host and is not in a container.  I don't know off hand how that is possible though I can image that having access to docker permissions would given an avenue.

[2019-07-10 19:40] jprosser commented on #45
Ok, sorry, that wasn't the case, I just got in a bit of a hurry there.

[2019-07-10 19:46] jprosser commented on #45
Here's what I see right on that root process in the process tree of the host:

`        ├─dockerd-current─┬─docker-containe─┬─docker-containe─┬─java───19*[{java}]`
`        │                 │                 │                 └─9*[{docker-containe}]`
`        │                 │                 └─12*[{docker-containe}]`
`        │                 └─12*[{dockerd-current}]`

[2019-07-10 19:47] trberg commented on #45
@brucehoff I notice the Docker.toil file that at the end of the file we have the following:
[code]
Since in in the docker-compose.yaml file we are setting the volumes as such:
[code]
Could this be causing an issue? Should that WORKDIR be /shared?

[2019-07-11 16:58] brucehoff commented on #45
No:
"The WORKDIR instruction sets the working directory for any RUN, CMD, ENTRYPOINT, COPY and ADD instructions that follow it in the Dockerfile."
from: https://docs.docker.com/engine/reference/builder/#workdir

Since the WORKDIR line is the last line in Dockerfile.Toil it has no effect.  We will remove it to avoid future confusion.  Additionally when we run Toil (using this container image) we in

[2019-07-11 17:22] brucehoff commented on #45
At this point it's not clear to me what the difference is between the manual experiment showing two containers sharing a file through a volume and the Workflow Hook failing to do the same thing in your environment.  Is it clear to you what the next step is or do we need to put our heads together to decide what to do next?

[2019-07-13 18:23] trberg commented on #45
Yeah, lets get together and brainstorm, we're out of ideas on our end.

[2019-07-18 14:08] brucehoff commented on #45
Note:  To run the workflow hook without Docker Compose:
[code]

[2019-07-18 14:34] brucehoff commented on #45
Running the above (and submitting a job) I am able to replicate what the UW folks encountered, as shown below.  The workflow hook runs, downloads the workflow and starts the Toil container, but Toil is not able to see the workflow it needs to run:
[code]

[2019-07-18 14:39] brucehoff commented on #45
Here's an interesting finding:  I *am* able to see the mounted file in another container:  After the failure the shared volume remains and the downloaded workflow is still there.  I ran a simple 'ubuntu' container, mounting the shared volume and can see the workflow.  This tells me there is nothing inherent in UW's environment that precludes sharing files between containers:

[code]

[2019-07-18 15:27] brucehoff commented on #45
Why can the 'ubuntu' container see the file but the Toil container cannot?  To investigate, let's see how the Toil container is started up:
[code]

We can clean this up a lot, to leave:
[code]
(We add in '-it' so we can use it interactively and '--rm' to clean it up when we're done.) Result:

[code]

Why does it work!?!?!  Perhaps my clean up of the `docker run` command omitted some key element.

[2019-07-18 15:37] brucehoff commented on #45
OK, then, let's try running the workflow itself:
[code]
It kicks off, no problem.  Let's look at the logs:
[code]

As when run from the workflow hook it cannot find the workflow file(s).  The odd thing is that the error is different:  Instead of "access denied" we get 'not found'.

[2019-07-18 18:00] jprosser commented on #45
The host file paths are being used here where I would expect in the case of volumes to be rather named and referenced for use in a container's file system, mounted at the appropriate spot.

-Justin

On Jul 18, 2019 8:37 AM, Bruce Hoff <notifications@github.com> wrote:

OK, then, let's try running the workflow itself:

docker run \

It kicks off, no problem. Let's look at the logs:

docker logs wor

[2019-07-18 18:03] brucehoff commented on #45
I modified the previous command to make the path to the .cwl file absolute, not relative. The workflow appears to run:
[code]

I can even see the result uploaded to Synapse:
https://www.synapse.org/#!Synapse:syn20540092

So we are **not** able to replicate the problem seen with the workflow hook by running containers manually.

[2019-07-18 18:05] brucehoff commented on #45
There's a reason for that which I am happy to explain, but I'm 99.9% sure it's irrelevant to the problem we are sleuthing.

[2019-07-18 21:45] brucehoff commented on #45
Perhaps the issue is somehow related to the use of a relative path to the workflow entry point.  I have made is absolute and will try rerunning the workflow with this change to the Hook: https://github.com/Sage-Bionetworks/SynapseWorkflowHook/commit/e96857224f41ec100d6247ce205ebb0c654a7f5a

Result:  It worked!

[2019-07-18 21:47] thomasyu888 commented on #45
Thanks for the sleuthing and fix @brucehoff.  I will run a workflow tomorrow that will take in a docker submission to see if it works.

[2019-07-18 21:52] brucehoff commented on #45
To summarize, after making a small change to the workflow hook and rerunning it as described [above](https://github.com/Sage-Bionetworks/SynapseWorkflowHook/issues/45#issuecomment-512831502) I was able to submit to Synapse and have the workflow run in a Toil container.

@thomasyu888 , @jprosser , and @trberg , as a next step would you like to try running the updated hook?  Please note that in the

[2019-07-18 22:17] brucehoff commented on #45
@thomasyu888 I think you will immediately hit the issue of Toil not being in privileged mode so I added the necessary parameter.  Please see https://github.com/Sage-Bionetworks/SynapseWorkflowHook/commit/b291a761ed06d5bca0d14b5d23c328d7195f374f

The updated instructions for non-compose execution:
[code]

[2019-07-19 18:31] trberg commented on #45
Alright! This seems to have solved the issues, I ran the [above](https://github.com/Sage-Bionetworks/SynapseWorkflowHook/issues/45?_pjax=%23js-repo-pjax-container#issuecomment-513009897) command and am now getting issues related to the submitted python script rather than the toil workflow.

Thank you @brucehoff and @thomasyu888 for your help with this!

[2019-07-23 02:08] thomasyu888 commented on #45
@brucehoff The fix you provided did not resolve the issue.

[2019-07-23 03:31] brucehoff commented on #45
@thomasyu888, what are the symptoms?

Verified that the host has the latest images:
[code]

[2019-07-23 15:41] brucehoff commented on #45
@thomasyu888 a more specific question:
Do you have an example of a workflow working directory of the form:
[code]
that was created with the latest version of the workflow hook?  Can we see the permissions on the folder (as well as the subfolder(s) created by Toil) to see if the 'umask' command produced the intended effect?

[2019-07-23 15:50] thomasyu888 commented on #45
@brucehoff.  Actually there is something I would like to try. Yesterday we worked out that providing the 'z' in the docker run volume mount allowed for bind mounts to work. So I wonder if the same z would work. To be specific:

```docker run -v /path/to/volume/:/output:z ....```

[2019-07-23 17:08] jprosser commented on #45
Please be careful with that option, it will auto-create labels and could really mess up the system.  This is likely the cause of our problems before were the whole /var/run got relabeled on the host which basically trashed the host leading us to just recreate it rather than try to recover from that event.

________________________________________
From: Thomas Yu <notifications@github.com>
Sent: Tu

[2019-07-23 17:23] thomasyu888 commented on #45
Thanks @jprosser.   I see this on docker site: https://docs.docker.com/storage/bind-mounts/. Should I use the `z` or `Z`?

[code]

Also @brucehoff specifying the `z` or `Z` with the output bind allows use to write to /output.  See https://github.com/Sage-Bionetworks/ChallengeWorkflowTemplates/blob/temp/run_docker.cwl#L91-L92.

If we decide that the way we use `z` or `Z` is secure, you probably can

[2019-07-23 17:32] thomasyu888 commented on #45
https://www.projectatomic.io/blog/2015/06/using-volumes-with-docker-can-cause-problems-with-selinux/

[2019-07-23 17:37] trberg commented on #45
So I've gotten my debug docker submission to run all the way through the
pipeline using z and z,ro to mount the volumes. However I only used these
options when we mounted volumes in the training and inference script and
not with the docker.sock.

[2019-07-23 17:38] trberg commented on #45
The debug docker submission includes reading and writing data to volumes and includes writing a predictions.csv file to output.

[2019-07-23 17:42] thomasyu888 commented on #45
One other solution we discussed for when we bind the training data is to create a docker volume with the hosted data.  So:

[code]

An interesting discovery is after I create this volume, I also don't see experience the permission error if I mount the directory.

[code]

But... If i create a new directory and don't create a docker volume:

[code]

Does docker "relabel" the directory when a volume

[2019-07-23 17:45] brucehoff commented on #45
Once you have determined that everything works, let me know and we can revert the change and then test again (to make sure the reversion doesn't break anything).

[2019-07-23 18:18] thomasyu888 commented on #45
I would like your (@jprosser, @brucehoff, @trberg ) opinions on the `Z` and `z` mount as the extent of my knowledge is what I have read.  The options currently are:

1. appending `z` or `Z` (Not sure what is the correct one.  This does indeed allow us to read and write into the `/output` and read data from `/train`
2.  `umask` / `chmod 777` so that the mounted volumes will have the correct permiss

[2019-07-23 18:24] brucehoff commented on #45
Since there were concerns about using `z` I suggest continuing to pursue the approach of changing the sharing permissions on the mounted directory (choice `2` above).  To do so, please start by answering my earlier question: https://github.com/Sage-Bionetworks/SynapseWorkflowHook/issues/45#issuecomment-514266402

[2019-07-23 18:49] jprosser commented on #45
Ideally volumes would be used here to keep everything within the container world, at least anything the containers touch.  If there's a need to cross that container/host barrier, then permissions should be intentionally managed.  If not, we see things like auto-labeling and permissions of 777 which drop that barrier in the most open possible way.  I'd guess Docker bind mounts are probably the best

[2019-07-23 18:52] jprosser commented on #45
In our non-root user scenario, this is not an accessible location by any user login.  A user with Docker permission can certainly affect this location, but not access directly.

[2019-07-23 18:55] thomasyu888 commented on #45
Hmmm.  I seem to be incorrect in my comment... Apologies!  However, as `z` does "relabelling", I'm now unsure if the `z` option had an impact on the `/var/lib/docker/volumes/workflow_orchestrator_shared/_data/` directory which allows for a normal `:rw` mount now.  As the documentation said, using `z` does in fact change things on the host machine.  Prior to using z, I was getting the same error (P

[2019-07-23 19:19] jprosser commented on #45
@thomasyu888 yep, I would prefer that.

So in our UW systems (rhel based), we have a label of "container_file_t" which can allow a container processes to write to that location (as policy exists for such an activity on that label).  Users are basically unaffected by this in our environment (though could also be constrained, we don't go that far) but are still subjected to unix permissions of cours

[2019-07-23 19:56] brucehoff commented on #45
@thomasyu888, you say:

Can you explain?  Earlier you said that the umask approach failed to fix the issue.  Do you have evidence that the changed allowed things to work?

[2019-07-23 20:06] thomasyu888 commented on #45
@brucehoff . Let me walk you to what i did

1.  Last night you had provided the `umask` approach, so I ran the workflow hook and received a permission denied issue.  Its possible that I wasn't using the newest version or something else happened....
2.  After encountering the error, I then thought to use `z` in mounting the `/output` as well (since it worked with mounting the `/train` data), so I d

[2019-07-23 20:40] brucehoff commented on #45
Fascinating:  I find that I am now unable to reproduce the original error.  Could it be that you have modified the host somehow?  Here's what I now see:
[code]

Could you revert the change you made to the host so we are back in the original situation?

The test above does that:  When I create the folder it has the normal permissions, not '777':
[code]

As you can see it has 755 permissions.

[2019-07-23 20:49] jprosser commented on #45
@brucehoff  The changes that Docker makes with SELinux are not persistent, so if the file system is relabeled for whatever reason, you will be back to the original state.  Let me know if you'd like that done.

[2019-07-23 21:00] brucehoff commented on #45
@thomasyu888 Please see @jprosser 's offer, above.  I would like to restore the host to its original state.  Do you agree?

[2019-07-23 21:08] thomasyu888 commented on #45
I agree.  Please restore back to original state.

[2019-07-23 21:19] jprosser commented on #45
I stopped dockerd, relabeled the home directories, then started dockerd just now.  I didn't touch the root file system (so /var/lib/docker/volumes) in this relabeling process.  Let me know if you'd also like to reset /var/lib/docker/volumes which by default is no write (I don't off hand know if docker will recover from that but it certainly should).

[2019-07-23 21:31] brucehoff commented on #45
I still cannot repro' the original problem:
[code]

Maybe that's why I see no change.

I don't understand.  What does "no write" mean in the context of a collection of writeable volumes?

[2019-07-23 21:44] thomasyu888 commented on #45
Now im getting errors again

[code]

Looks like the `z` and `Z` option really did make a big difference

**EDIT:  The volume i created here already existed before, which caused it to not work.**

[2019-07-23 21:47] trberg commented on #45
So I know @jprosser isn't a huge fan of the ```z``` option, but if we only apply them to the data folders as ```z,ro``` and to the ```/model``` folder, the ```/scratch``` folder, and ```/output``` folder as ```z```, will that cause a lot of problems? Previously, we had applied ```z``` to /var/run and that really messed us up. But we're currently getting around that with ```privileged```. So can we

[2019-07-23 21:49] thomasyu888 commented on #45
My understanding is that it not only changes the directory we mount, but possibly the directories in which the mounted directory lives.  Which explains the ability for me to do what i did here: https://github.com/Sage-Bionetworks/SynapseWorkflowHook/issues/45#issuecomment-514395466 without getting an error in the end.

[2019-07-23 21:50] jprosser commented on #45
We're all set, I believe, with volumes as @thomasyu888 has recently found, as they create the right kinds of permissions automatically though user root within the container will create root owned files in the user's home dir (or shared area) which they can't readily access.

[2019-07-23 21:56] jprosser commented on #45
@brucehoff to your question on /var/lib/docker/volumes, this has a generic label that prevents container writes.  As dockerd doesn't make permanent changes to SELinux policy, a relabeling here would mean dockerd on start would need to fix labels as appropriate (adding container_file_t back) to enable containers to write to these locations (which it probably would do).

That z,Z option is scary sin

[2019-07-23 22:02] jprosser commented on #45
@thomasyu888 It looks to me that when you create a volume, that does labeling in a one time fashion such that if we reset the labels as we did, dockerd doesn't come back around to reset as it did on creation.

[2019-07-23 22:20] thomasyu888 commented on #45
Right.  Thanks @jprosser .

We have resolved the first issue of binding the training data.  Workflow here:
[code]

[2019-07-24 01:32] trberg commented on #45
So I've tried to replicate this on the challenge server. When I create a volume and mount a data folder that has not previously had the ```z``` flag, I still run into permission errors when I later use that volume in the pipeline.

Did I miss a step?
[code]
Then later in the run_training_docker.cwl
[code]
The resulting error is such:
[code]

However, running the ubuntu test seems to work:
[code]

[2019-07-24 01:45] thomasyu888 commented on #45
Did you update your inputdir to be `uw_train`? Hmm.... I wouldn't think that Ubuntu has anything to do with it.

[2019-07-24 01:53] trberg commented on #45
Yep, I replaced the absolute path
![image](https://user-images.githubusercontent.com/19157622/61758799-1536b400-ad7b-11e9-9a84-749128f4a908.png)

[2019-07-24 02:17] thomasyu888 commented on #45
So its very strange... When i do:
[code]

It might be possible that that something is happening when the submission is run with the docker socket that is mounted into the toil container.

[2019-07-24 02:26] trberg commented on #45
Yeah, I get the same
[code]

[2019-07-24 16:04] jprosser commented on #45
@trberg I see you had the following with the `:z` option:

`mounted_volumes = {scratch_dir:'/scratch:z',`
`                               input_dir:'/train:ro',`
`                               model_dir:'/model:z'}`

But looking at the labeling on those files and directories, I see the label `container_var_lib_t` which is what Docker has for non-container accessed locations, whereas normally that

[2019-08-09 18:01] andrewelamb opened #48 "Add COMPOSE_PROJECT_NAME to the readme, or else error..."
I just restarted my instance that was running the hook. I cleared all my docker images and containers. After starting up the hook, whenever I make a submission to the queue I get this error:

workflow-hook_1  | Aug 09, 2019 5:56:09 PM org.sagebionetworks.ExponentialBackoffRunner execute
workflow-hook_1  | SEVERE: Found status code 409. Will not retry: Status Code: 409 message: An entity with the n

[2019-08-09 18:12] thomasyu888 commented on #48
Need to add to `.env`: https://github.com/Sage-Bionetworks/SynapseWorkflowHook/blob/master/.envTemplate#L7

[2019-08-09 18:21] andrewelamb commented on #48
I added the above field and now getting:

workflow-hook_1  | [ERROR] Failed to execute goal org.codehaus.mojo:exec-maven-plugin:1.2.1:java (default-cli) on project WorkflowHook: An exception occured while executing the Java class. null: InvocationTargetException: {"message":"get workflow_orchestrator_shared: no such volume"} -> [Help 1]

[2019-08-09 18:24] andrewelamb commented on #48
I added RUN_WORKFLOW_CONTAINER_IN_PRIVILEGED_MODE=true
and got the same error

[2019-08-09 20:15] andrewelamb commented on #48
This was fixed by:
COMPOSE_PROJECT_NAME=workfloworchestrator
instead of this:
COMPOSE_PROJECT_NAME=workflow_orchestrator
in my .env file
I noticed this volume:
workfloworchestrator_shared
was being created

[2019-08-12 17:46] brucehoff opened #49 "Add 'accept new workflows' parameter"
with default value 'false'.  If set to 'true' then the hook will monitor and finish up existing workflows but not start new ones. This is an important feature for smoothly decommissioning a machine.

[2019-08-12 18:00] brucehoff commented on #49
https://github.com/Sage-Bionetworks/SynapseWorkflowHook/commit/0eb8007e6f08bb90393e230930bb7beafea79582

[2019-08-12 18:00] #49 closed, assigned to nobody

[2019-10-09 16:18] thomasyu888 opened #50 "Invalid session token error"
[code]

[2019-10-10 19:51] thomasyu888 commented on #47
This will be done: https://github.com/Sage-Bionetworks/SynapseWorkflowOrchestrator/tree/release-1.0

[2019-10-10 19:51] #47 closed, assigned to brucehoff

[2019-10-30 17:44] thomasyu888 commented on #50
I believe this will impact any challenge that is using this infrastructure (Hook or Orchestrator).  Current workaround is to restart the hook, but theres no notification when the hook stops.  Our collaborators continuously inform us that submissions aren't being run.

[2019-10-30 17:47] vpchung commented on #50
Came across this error with the Allen Institute challenge as well.

[2019-10-30 17:49] thomasyu888 commented on #50
RA2 challenge as well (using the orchestrator jar file)

[2019-10-30 18:29] brucehoff commented on #50
The fix is to continuously (ea. 10 sec) log in. This ensures that the session token is valid.   Here's the change in the Orchestrator:
https://github.com/Sage-Bionetworks/SynapseWorkflowOrchestrator/commit/af5eb7bab592af7371941e913b32f05976164238

[2019-10-30 18:51] thomasyu888 commented on #50
Awesome. Thank you!

[2019-10-30 19:00] thomasyu888 commented on #50
Hmm. I seem to be getting this error with the jar executable:
[code]

[2019-10-30 19:02] thomasyu888 commented on #50
Confirmed that this still works: https://github.com/Sage-Bionetworks/SynapseWorkflowOrchestrator/releases/tag/untagged-d69053e643036e9a0668

[2019-10-30 19:24] brucehoff commented on #50
Here's the commit to the SynapseWorkflowHook repository: https://github.com/Sage-Bionetworks/SynapseWorkflowHook/commit/5f3cc549abab63571076594e3cf6f0fefcbe9265

[2019-10-30 19:24] #50 closed, assigned to nobody

[2020-01-17 00:39] brucehoff opened #52 "build breaks due to maven url change"
from @thomasyu888: "could you provide the same patch for the maven issue for the hook [ as for the Orchestrator]"?

[2020-01-17 00:41] brucehoff commented on #52
Done!

https://github.com/Sage-Bionetworks/SynapseWorkflowHook/commit/980bddc6d14bb9af6dc3a1a698ad0bd53953b84c

[2020-01-17 00:41] #52 closed, assigned to brucehoff